* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	background-image: url("background.jpg");
	background-size: cover;
}
.header-image {
	width: 100%;
	height: 40%;
	position: relative;
}
.main-div {
	width: 100%;
	height: auto;
	background-color: white;
}

#logo {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(0, -50%);
	width: 50%;
	height: auto;
}

#introduction {
	background-color: grey;
	width: 100%;
	height: 100px;
}

